<div data-tabs-target="tab" id="about">
  <h2>My name is Remco Jonk</h2>

  <p>I have been working as a technician for the past few years, but I am now seeking
  to transition into the tech industry as a full stack developer.</p>

  <p>Early this year, I was inspired to make this career change after meeting several
  experienced developers. To gain a solid foundation in front-end and full stack
  development, I enrolled in a 9-week full-time bootcamp at Le Wagon.</p>

  <p>I am now excited to bring my learned skills and a can-do mentality to your
  company. I am a team player with a strong eagerness to learn new skills and
  technologies. I am confident that my technical expertise and positive attitude
  will make me a valuable addition to your team.</p>
</div>
