<div data-tabs-target="tab" id="experiance">
  <%# Last company %>
  <h4>Field service technician</h4>
  <p>Facta, Uitgeest, The Netherlands, 2017 - 2021</p>
  <ul>
    <li>Meet with the client to determine the problem.</li>
    <li>Consult with the client for the most efficient
      solution.</li>
    <li>Conducting routine equipment servicing out in the
      field.</li>
  </ul>
  <%# First company %>
  <h4>Assistent team leader</h4>
  <p>Royal Dutch Army, The Netherlands, 2007 - 2017</p>
  <ul>
    <li>Responsible for the maintenance program after filed training.</li>
    <li>Teaching basic military skills to the platoon.</li>
    <li>Leading the team in the absence of the commander.</li>
  </ul>
</div>
