<div class="header container">
  <div class="row">

    <div class="cards col-6">
      <div class="card-1">
        <h2>Hello, I am <span>Remco</span></h2>
        <p>Junior Fullstack Web developer</p>
        <ul>
          <li><i class="fa-solid fa-phone" style="color: #F24E1E"></i>  +31 6 23927717</li>
          <li><i class="fa-solid fa-envelope" style="color: #FCED0A"></i> remcojonk@hotmail.com</li>
          <li><i class="fa-solid fa-location-dot" style="color: #D9D9D9" ></i>  Alkmaar, Netherlands</li>
        </ul>
      </div>


      <div class="card-2">
        <h2>Download my resume</h2>

        <div class="button">
          <a href="https://drive.google.com/file/d/1hQiXRrZ5_S52u18WvD5p8MgwVWRqsf9e/view?usp=sharing" class="button-primary">Download</a>
          <a href="#contact-section" class="button-primary">Contact</a>
        </div>
      </div>
    </div>

    <div class="col-6">
      <img id="profile-image"src="https://res.cloudinary.com/dipnvqfev/image/upload/v1671712580/Portfolio%20Remco/Profiel_foto_cg7lad.jpg" alt="">
    </div>
  </div>
</div>
