<div class="header container">
  <div class="row">
  <div class="cards col-6">
    <div class="card-1">
      <h2>Hello, I am <span>Remco</span></h2>
      <p>Junior Fullstack Web developer</p>
      <ul>
        <li>Ruby on Rails</li>
        <li>remcojonk@hotmail.com</li>
        <li>Alkmaar, Netherlands</li>
      </ul>
    </div>
    <div class="card-2">
      <h2>Download my resume</h2>

      <div class="button">
       <div class="button-primary">Download</div>
       <div class="button-primary">Contact</div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <img src="https://res.cloudinary.com/dipnvqfev/image/upload/v1671712580/Portfolio%20Remco/Profiel_foto_cg7lad.jpg" alt="">
  </div>


  </div>
</div>
