<div class="header container">

  <div class="cards">
    <div class="card-1">
      <h2>Hello, I am <span>Remco</span></h2>
      <h4>Full-Stack Web Developer</h4>
      <br>
      <p><iconify-icon inline icon="mdi:language-ruby-on-rails" style="color: #d01d00;"></iconify-icon> Ruby on Rails</p>
      <p><iconify-icon icon="material-symbols:mail-rounded" style="color: #fced0a;"></iconify-icon> remcojonk@hotmail.com</p>
      <p><iconify-icon icon="material-symbols:location-on" style="color: #d9d9d9;"></iconify-icon>  Alkmaar, Netherlands</p>
    </div>
    <div class="card-download">
      <h2>Download my resume</h2>
      <div class="button">
        <a href="https://drive.google.com/file/d/1hQiXRrZ5_S52u18WvD5p8MgwVWRqsf9e/view?usp=sharing" class="button-primary" target="blank">Download</a>
        <a href="#contact-section" class="button-primary">Contact</a>
      </div>
    </div>
  </div>
  <div class="image">
    <img id="profile-image"src="https://res.cloudinary.com/dipnvqfev/image/upload/v1671712580/Portfolio%20Remco/Profiel_foto_cg7lad.jpg" alt="">
  </div>
</div>
