<div class="navbar">
  <div class="container">
    <div id="home">
      <button class="btn--scrole-to">Home</button>
    </div>
    <div id="details">
      <button class="btn--scrole-to">Portfolio</button>
      <button class="btn--scrole-to">Resume</button>
      <button class="btn--scrole-to">Contact</button>
    </div>
  </div>
</div>
