<div class="navbar">
  <div class="container">
    <div id="home">
      <ul>
        <%= link_to "#home-section" do %>
          <li>Home</li>
        <% end %>
      </ul>
    </div>
    <div id="details">
      <ul>
        <%= link_to "#resume-section" do %>
          <li>Resume</li>
        <% end %>
        <%= link_to "#portfolio-section" do %>
          <li>Portfolio</li>
        <% end %>
        <%= link_to "#contact-section" do %>
          <li>Contact</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
