<div class="container" data-controller="tabs" data-tabs-default-tab-value="about">
  <div class="title">Resume</div>

  <div class="tab_box" >
    <p class="tab_button" id="about" data-tabs-target="btn" data-action="click->tabs#select">About Me</p>
    <p class="tab_button" id="experiance" data-tabs-target="btn" data-action="click->tabs#select">Experiance</p>
    <p class="tab_button" id="skilss" data-tabs-target="btn" data-action="click->tabs#select">Skills</p>
    <p class="tab_button" id="tools" data-tabs-target="btn" data-action="click->tabs#select">Tools</p>
  </div>

  <div class="content-box">
    <%= render 'shared/about-me' %>
    <%= render 'shared/experiance' %>
    <%= render 'shared/skills'  %>
    <%= render 'shared/tools' %>
  </div>
</div>
