<div data-tabs-target="tab" id="skilss">
  <div class="row">
    <div class="col-6">
    <h4>Frond end skills</h4>

    <div class="progress-element progress-element--html">
      <p class="progress-label">HTML</p>
      <div class="progress-container">
        <progress max="100" value="60">60%</progress>
      </div>
    </div>

    <div class="progress-element progress-element--css">
      <p class="progress-label">CSS</p>
      <div class="progress-container">
        <progress max="100" value="60">60%</progress>
      </div>
    </div>

    <div class="progress-element progress-element--bootstrap">
      <p class="progress-label">Bootstrap</p>
      <div class="progress-container">
        <progress max="100" value="60">60%</progress>
      </div>
    </div>

    <div class="progress-element progress-element--javascript">
      <p class="progress-label">JavaScript</p>
      <div class="progress-container">
        <progress max="100" value="30">30%</progress>
      </div>
    </div>
    </div>

    <div class="col-6">
    <h4>Back end skills</h4>

    <div class="progress-element progress-element--ruby">
      <p class="progress-label">Ruby on Rails</p>
      <div class="progress-container">
        <progress max="100" value="40">40%</progress>
      </div>
    </div>

    <div class="progress-element progress-element--sql">
      <p class="progress-label">SQL</p>
      <div class="progress-container">
        <progress max="100" value="20">20%</progress>
      </div>
    </div>

    <div class="progress-element progress-element--postgressql">
      <p class="progress-label">PostgreSQL</p>
      <div class="progress-container">
        <progress max="100" value="20">20%</progress>
      </div>
    </div>

    <div class="progress-element progress-element--json">
      <p class="progress-label" >JSON, CSV, XML</p>
      <div class="progress-container">
        <progress max="100" value="15">15%</progress>
      </div>
    </div>
    </div>
  </div>
</div>
