<div data-tabs-target="tab" id="tools">
  <div class="row mt-4">
  <div class="col-6">
    <h4>Tools</h4>
      <p><iconify-icon icon="logos:shopify"></iconify-icon> Shopify</p>
      <p><iconify-icon icon="bi:wordpress" style="color: #207196;"></iconify-icon> Wordpress</p>
      <p><i class="fa-brands fa-git"></i> Git</p>
      <p><i class="fa-brands fa-github"></i>  Github</p>
      <p><iconify-icon icon="logos:heroku-icon" style="color: #207196;"></iconify-icon> Heroku</p>
      <p><iconify-icon icon="vscode-icons:file-type-excel" style="color: #207196;"></iconify-icon> Excel</p>
      <p><iconify-icon icon="vscode-icons:file-type-word" style="color: #207196;"></iconify-icon>  Word</p>
  </div>

  <div class="col-6">
    <h4>Design</h4>
      <p><iconify-icon icon="logos:figma"></iconify-icon> Figma</p>
      <p><iconify-icon icon="logos:adobe-xd"></iconify-icon>  Adobe XD</p>
  </div>
  </div>
</div>
