<div class="container">
  <h2 class="title">Portfolio</h2>
  <%# Project 1 %>
  <div class="project">
    <div class="project-card">
      <%= link_to "https://sail-away.herokuapp.com/", target: "blank", style: "text-decoration: none;" do %>
        <img src="https://res.cloudinary.com/dipnvqfev/image/upload/v1671732532/Portfolio%20Remco/sail_away_d9px30.png" alt="Sail Away">
        <div class="tags">
          <p>Ruby on Rails</p>
          <p>HTML5</p>
          <p>CSS3</p>
        </div>
      <% end %>
    </div>
    <div class="project-description">
      <h2>Sail Away</h2>
      <p>Building time 1 week</p>
      <P>Sail away is a Le Wagon project based on Air BnB. I build this project with a team of 3. My part of the project was building de MVC for the market place</P>
    </div>
  </div>
  <%# Project 2 %>
  <div class="project">
    <div class="project-description">
      <h2>Ghost Writer</h2>
      <p>Building time 2 weeks</p>
      <P>Ghost writer is the end project from the 9 week web development bootcamp. My part of the project was building the MVC for the porfolio end the logic for buying shares</P>
    </div>
    <div class="project-card">
      <%= link_to "https://ghostwriter-invest.herokuapp.com/", target: "blank", style: "text-decoration: none;"  do %>
        <img src="https://res.cloudinary.com/dipnvqfev/image/upload/v1671732546/Portfolio%20Remco/Ghoswriter_a5i07n.png" alt="Ghost Writer">
        <div class="tags">
          <p>Ruby on Rails</p>
          <p>HTML5</p>
          <p>CSS3</p>
          <p>JavaScript</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
