.button-primary{
  background-color: $black;
  text-align: center;
  width: 12rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(255, 255, 255, 0.05), -6px -6px 19px rgba(255, 255, 255, 0.05);
}
.button-primary:hover {
  background-color: $blue;
}

.button-primary .active {
  background-color: $blue;
}

.tab_button{
  background-color: $card-grey;
  margin-right: 1rem;
  text-align: center;
  width: 10vw;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(255, 255, 255, 0.05), -6px -6px 19px rgba(255, 255, 255, 0.05);
  }

.tab_button:hover {
  background-color: $blue;
}
