.button-primary{
  background-color: $black;
  border: none;
  text-align: center;
  width: 40%;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(255, 255, 255, 0.05), -6px -6px 19px rgba(255, 255, 255, 0.05);
  .active {
    background-color: $blue;
  }
}
.button-primary:hover {
  background-color: $blue;
}


.tab_button{
  background-color: $card-grey;
  margin-right: 1rem;
  text-align: center;
  width: 20%;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(255, 255, 255, 0.05), -6px -6px 19px rgba(255, 255, 255, 0.05);
  }

.tab_button:hover {
  background-color: $blue;
}

.button-cookie {
  background-color: $black;
  border: none;
  text-align: center;
  width: 15%;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(255, 255, 255, 0.05), -6px -6px 19px rgba(255, 255, 255, 0.05);
  .active {
    background-color: $blue;
  }
}

.button-cookie:hover {
  background-color: $blue;
}

.btn--scrole-to {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.btn--scrole-to:hover {
  color: $blue;
}
