.header{
  height: 100vh;
  margin-top: 1.5rem;

}
.cards{
  height: 100vh;
}

.card-1, .card-2{
  background-color: $card-grey;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 4px 4px 4px rgba(0, 0, 0, 0.05), -2px -2px 2px rgba(255, 255, 255, 0.2), -6px -6px 8px rgba(255, 255, 255, 0.3);

  li{
    list-style: none;
    font-size: 1.5rem;
  }
}

.card-1{
  height: 50vh;

    p{
      font-size: 1.5rem;
    }
    h2{
    font-size: 3rem;
    }
    span{
    color: $yellow;
    }
}

.card-2{
  height:35vh;
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  .button{
    border-bottom: 5vh;
    display: flex;
    justify-content: space-between;
  }
  a{
    text-decoration: none;
    color: $light-gray;
  }
}



#profile-image{
  width: 100%;
  height: 90vh;
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 4px 4px 4px rgba(0, 0, 0, 0.05), -2px -2px 2px rgba(255, 255, 255, 0.2), -6px -6px 8px rgba(255, 255, 255, 0.3);
}
