.navbar{
  display: flex;
  justify-content: space-around;
  background-color: $card-grey;
  padding: 0.5rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  ul{
    list-style: none;
    font-size: 2rem;
    padding-left: 0;
    li{
      display: inline;
    }
    a{
    color: $light-gray;
    text-decoration: none;
    }
  }


  #details{
    display: flex;
    word-spacing: 1rem;
  }
}
