.navbar{
  display: flex;
  justify-content: space-around;
  background-color: $dark-bg;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 2.5rem;
  #details{
    display: flex;
    word-spacing: 1rem;
    gap: 1.5rem;
  }
}
