.navbar{
  display: flex;
  justify-content: space-between;
  background-color: $card-grey;
  padding: 0.5;

  ul{
    list-style: none;
    font-size: 2rem;
    li{
      display: inline;
    }
    a{
    color: $light-gray;
    text-decoration: none;
    }
  }


  #details{
    display: flex;
    word-spacing: 1rem;
  }
}
